asgiref==3.6.0
attrs==22.2.0
bcrypt==4.0.1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
clean-text==0.4.0
cryptography==39.0.0
delegator.py==0.1.1
distro==1.8.0
Django==3.0
docker
docker-app==0.1.2
docker-build==0.1.2
docker-build-tool==0.13.2
docker-cli==1.0.2
docker-compose==1.29.2
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
emoji==2.2.0
entrypoints==0.3
enum34==1.1.10
exceptiongroup==1.1.0
flake8==3.7.0
