asgiref==3.6.0
attrs==22.2.0
bcrypt==4.0.1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
clean-text==0.4.0
cryptography==39.0.0
delegator.py==0.1.1
distro==1.8.0
Django==3.0
docker
docker-app
docker-build
docker-build-tool
docker-cli
docker-compose
docker-pycreds
dockerpty
docopt==0.6.2
emoji==2.2.0
entrypoints==0.3
enum34==1.1.10
exceptiongroup==1.1.0
flake8==3.7.0
pytest==7.2.1
pytest-django==3.9.0
pip==23.0

